html {
    scroll-behavior: smooth;
}
header
{
    width: 100%;
    background-image: url("../../img/bitcoin-vs-litecoin-vs-ethereum.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 49%;
    border-bottom-style: wave;

}

header .title
{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 25px 0;
}

header .title .title-wrapper
{
    text-shadow: 0px 0px 10px black;
    padding: 10px;
    color: white;
}

.navbar-nav .nav-item a
{
    color: white!important;
    margin: 0 5px;
    transition: .3s;
    text-transform: uppercase;
}

.navbar-nav .nav-item a:hover
{
    background-color: rgba(255, 255, 255, 0.75);
    color: black!important;
}


.poll-container {

    padding: 0 15%;
    margin-top: 5rem;
}

.questions {
    height: 40vh;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE 10+ */
    padding: 10px 50px;

}

.questions::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.question-preview {
    text-align: center;
    height: 75px;
    margin: 25px 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

.welcome-text {
    font-family: 'Roboto', sans-serif;
    margin: 5% 20%;
    padding: 50px;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
}

