html {
    scroll-behavior: smooth;
}
header
{
    width: 100%;
    background-image: url("../../img/bitcoin-vs-litecoin-vs-ethereum.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 49%;
    border-bottom-style: wave;

}

header .title
{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 25px 0;
}

header .title .title-wrapper
{
    text-shadow: 0px 0px 10px black;
    padding: 10px;
    color: white;
}

.navbar-nav .nav-item a
{
    color: white!important;
    margin: 0 5px;
    transition: .3s;
    text-transform: uppercase;
}

.navbar-nav .nav-item a:hover
{
    background-color: rgba(255, 255, 255, 0.75);
    color: black!important;
}


.poll-container {

    padding: 0 15%;
    margin-top: 5rem;
}

.questions {
    height: 40vh;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE 10+ */
    padding: 10px 50px;

}

.questions::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.question-preview {
    text-align: center;
    height: 75px;
    margin: 25px 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

.welcome-text {
    font-family: 'Roboto', sans-serif;
    margin: 5% 20%;
    padding: 50px;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
}

/* Snackbar */

#snackbar {
    visibility: hidden!important; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

